.table-container {
  .top-header {
    background: white;

    th {
      padding: 9px 0px;
      text-align: left;
      border-bottom: 2px solid #ccc;
    }
  }
  table.top-table {
    width: 100%;
    border-collapse: collapse;
  }

  .accordion-title {
    border-bottom: 1px solid #ccc;

    td {
      padding: 6px 0;
    }
  }

  .week-title-value {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    color: black;
    min-width: 50px;
    text-align: left;

    span {
      font-weight: 700;
      color: black;
      text-transform: capitalize;
    }
  }

  tbody {
    .job-name {
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
      color: #222222;
    }

    .job-id {
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
      color: #222222;
    }

    tr th {
      padding-top: 7.5px;
      padding-bottom: 9px;
    }

    .primary-row {
      border-top: 1px solid #acafff;
      background: #f0fdfb;

      .first-td {
        padding-left: 50px;
      }
    }

    @media screen {
    }
    .primary-row td {
      padding: 9px 0px;
    }

    .earning-code {
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      font-variant: all-small-caps;
      color: #007772;
    }

    .earning-code-value {
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
      color: #464646;
    }

    .secondary-row-time {
      width: 100%;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 150%;
      color: #b1b1b1;
      text-align: center;
    }

    .secondary-row {
      background: #f0fdfb;
      td {
        padding: 6px 0;
      }
    }

    .secondary-row.final td {
      padding-bottom: 33px;
    }
  }
}
